<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Tests">
    <test name="Regression">
        <classes>
            <class name="tests.RegistrationTest"/>
            <class name="tests.ForgotPasswordTest"/>
            <class name="tests.LoginTests"/>
        </classes>
    </test>
    <!-- Add more test configurations if needed -->
</suite>
