<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Selenium Tests">
    <listeners>
        <listener class-name="pages.RetryListener"/>
    </listeners>
    <test name="Regression">
        <classes>
            <class name="tests.RegistrationTest"/>
            <class name="tests.ForgotPasswordTest"/>
            <class name="tests.LoginTests"/>
            <class name="tests.SettingsTests"/>
        </classes>
    </test>
</suite>
