name: CI/CD Pipeline

on:
  push:
    branches:
      - master  # Adjust branch name as per your requirements
  pull_request:
    branches:
      - master  # Adjust branch name as per your requirements

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Set up Chromium
        uses: browser-actions/setup-chrome@v1

      - name: Check Chromium version
        run: chromium --version

      - name: Run tests
        run: mvn clean test


      - name: Generate Allure Report
        run: |
          wget -O allure-2.22.0.tgz https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/2.22.0/allure-commandline-2.22.0.tgz
          tar -zxvf allure-2.22.0.tgz
          ./allure-2.22.0/bin/allure generate target/allure-results --clean -o target/allure-report

      - name: Upload Allure Report
        uses: actions/upload-artifact@v4.3.3

        with:
          name: allure-report
          path: target/allure-report
