name: CI/CD Pipeline

on:
  push:
    branches:
      - master  # Adjust branch name as per your requirements
  pull_request:
    branches:
      - master  # Adjust branch name as per your requirements

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Set up ChromeDriver
        run: |
          wget -q -O /tmp/chromedriver.zip https://chromedriver.storage.googleapis.com/LATEST_RELEASE
          LATEST_RELEASE=$(cat /tmp/chromedriver.zip)
          wget -O /tmp/chromedriver.zip https://chromedriver.storage.googleapis.com/$LATEST_RELEASE/chromedriver_linux64.zip
          unzip -o /tmp/chromedriver.zip -d /tmp/
          sudo mv /tmp/chromedriver /usr/local/bin/
          sudo chmod +x /usr/local/bin/chromedriver

      - name: Run tests
        run: mvn clean test

      - name: Generate Allure Report
        run: |
          # Download Allure
          curl -o allure.zip -L https://repo.maven.apache.org/maven2/io/qameta/allure/allure-commandline/2.15.0/allure-commandline-2.15.0.zip
          
          # Extract Allure
          tar -xf allure.zip
          
          # Set Allure bin directory in PATH
          $env:PATH += ";$(Resolve-Path .\allure-commandline-2.15.0\bin)"
          
          # Generate Allure report
          allure generate target/allure-results --clean -o target/allure-report
      

      - name: Publish Allure Report
        uses: actions/upload-artifact@v2
        with:
          name: allure-report
          path: target/allure-report