name: CI/CD Pipeline

on:
  push:
    branches:
      - master  # Adjust branch name as per your requirements
  pull_request:
    branches:
      - master  # Adjust branch name as per your requirements

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up JDK
        uses: actions/setup-java@v2
        with:
          java-version: '21'
          distribution: 'adopt'

      - name: Run tests
        run: mvn test

      ## Allure report
      - name: Generate Allure Report
        if: always()
        run: |
          npm install -g allure-commandline
          allure generate allure-results -o allure-report-$(date +%Y%m%d-%H%M%S) --clean

      ## Deploy step
      - name: Deploy Allure Report to GitHub Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report-$(date +%Y%m%d-%H%M%S)
          publish_branch: allure-report
          keep_files: false
